*{
    margin: 0;
    padding: 0;
}
.Our_project{
    width: 1140px;

}

.our_project_top{
    position: relative;
}

.our_project_top h2{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
   
    
    text-align: center;
    
    color: #1C2323;
}

.our_project_top p{
    padding-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #404242;
}

.our_project_top .box{
    position: absolute;
    left: 500px;
    top: 250px;
    width: 135px;
    border: 5px solid #58A9A5;
}
.our_project_top .box2{
    position: absolute;
    left: 500px;
    top: 265px;
    margin-top: 20px;
    width: 135px;
    border: 5px solid #58A9A5;
}


.our_praject__bottom{
    display: flex;
    /* justify-content: space-evenly; */
    position: relative;
    top: 180px;
    left: -125px;
    
}

.Livingroom__start{
    width: 400px;
    padding: 90px;
}

.Livingroom__start h3{
    width: 286px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
  
    
    
    color: #58A9A5;
    

}

.Livingroom__start p{
    width: 358px;
    height: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
    
    color: #486958;
}

.Livingroom__start img{
    width: 350px;
    height: 350px;
}
.workspace_center{
    margin-top: 90px;
}

.workspace_center img{
    /* top: -220px; */
    width: 350px;
    height: 350px;

}

.workspace_center h3{
    width: 286px;
    height: 60px;
    margin-top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
   
    
    
    color: #58A9A5;
    
}

.workspace_center p{
    width: 353px;
    height: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    color: #486958;
}